@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

/* general styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
}

input,
button,
select,
option,
textarea {
  font-family: inherit;
  outline-width: 0;
  border: 0;
}

:root {
  --blue: #0060e6;
  --indigo: #6610f2;
  --purple: #8126ff;
  --red: #d90000;
  --orange: #fd7e14;
  --green: #4d7508;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #0060e6;
  --secondary: #d8dee7;
  --success: #0060e6;
  --info: #17a2b8;
  --danger: #d90000;
  --light: #f8f9fa;
}
.blue {
  color: var(--success);
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.flex-sty {
  display: flex;
  align-items: center;
}

.flexBox-sty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexDir-sty {
  display: flex;
  flex-direction: column;
}

.text-ct {
  text-align: center;
}

/* sucess modal */
.success {
  height: 100vh;
  gap: 10px;
  background: white;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  border-radius: 10px;
  margin: 0 20px;
}
.success_icon {
  color: green;
  font-size: 30px;
}
.sucess_download {
  background: green;
  border-radius: 7px;
  height: 30px;
  width: 30px;
  color: white;
}

/* code sty */
.code {
  height: 100vh;
  padding: 20px;
}
.flex {
  display: flex;
  align-items: center;
}
.code_num {
  border: 1px solid black;
  height: 20px;
  font-size: 10px;
  padding: 0 2px;
  margin-right: 10px;
}
.code > h1 {
  margin-bottom: 14px;
}
.code_btn {
  display: flex;
  justify-content: flex-end;
}
.code_btn button {
  background: var(--success);
  color: var(--white);
  padding: 10px 40px;
}

.code_input input {
  background: none;
  font-size: 17px;
}
.code_input {
  border-bottom: 1px solid #000000;
  padding: 10px 0;
}
.login_header h1 {
  padding-bottom: 30px;
}

/* login sty */
.login {
  height: 100vh;
}

form {
  gap: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 20px;
  border-radius: 8px;
  background: white;
}
.login_input {
  border: 1px solid rgb(182, 182, 182);
  border-radius: 6px;
  padding: 8px 20px;
  flex: 1;
}
.login {
  background-color: rgb(251, 251, 251);
}
.login_inputs label {
  padding-bottom: 15px;
  font-size: 15px;
}
.login_input input {
  background: none;
}
form button {
  background: var(--success);
  color: var(--white);
  padding: 10px 0px;
  margin-top: 10px;
  border-radius: 6px;
  font-size: 16px;
}

.m-19 {
  margin-top: 10px;
}

.auth {
  height: 100vh;
}

.auth_item {
  padding: 20px;
  display: flex;
}
.auth_item:hover {
  background-color: rgb(235, 235, 235);
}
.auth_icon {
  font-size: 20px;
  margin-right: 10px;
}
.code_btn .grey {
  background: rgb(161, 161, 161);
  color: #000000;
  margin-right: 20px;
}

.p-20 {
  padding: 30px 0 0 20px;
}
.ml-10 {
  margin-left: 20px;
}
